table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid #ddd;
}

td {
    padding: 8px;
    border-bottom: 1px solid;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

